img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  object-fit: cover;
}

ul li {
  list-style-type: none;
}

.photo-upload {
  position: relative;
  overflow: hidden;
}

.photo-upload input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
