<div class="form-group">
  <a class="btn btn-sm btn-primary" [routerLink]="['/technikus-info']">Vissza a technikus infoba</a>
</div>

<div class="photo-upload">
  <button *ngIf="photos?.length == 0" class="btn btn-sm btn-primary">Profilkép feltöltése</button>
  <input type="file" (change)="uploadPhoto()" #fileInput>
</div>

<img *ngFor="let photo of photos" src="/uploads/technicians/{{ photo.fileName }}" class="img-thumbnail">

<div class="form-group text-center">
  <h2>{{ technician.lastName }} {{ technician.firstName }}</h2>
  <p>E-mail cím: {{ technician.email }}</p>
  <p>Telefonszám: {{ technician.phone }}</p>
  <p>Aktuális egyenleg: {{ technician.balance }} Forint</p>
</div>
