<form #f="ngForm" (ngSubmit)="submit()" novalidate>
  <div class="form-group">
    <label for="name">Név</label>
    <input
      id="name"
      type="text"
      class="form-control"
      [(ngModel)]="saveMerchant.name"
      name="name"
      #name="ngModel"
      required
    />
    <div class="alert alert-danger mt-3" *ngIf="name.touched && !name.valid">
      Kérem adja meg a nevet.
    </div>
  </div>
  <div class="form-group">
    <label for="city">Keresztnév</label>
    <input
      id="city"
      type="text"
      class="form-control"
      [(ngModel)]="saveMerchant.city"
      name="city"
      #city="ngModel"
      required
    />
    <div class="alert alert-danger mt-3" *ngIf="city.touched && !city.valid">
      Kérem adja meg a települést.
    </div>
  </div>
  <div class="form-group">
    <label for="email">E-mail cím</label>
    <input
      id="email"
      type="text"
      class="form-control"
      [(ngModel)]="saveMerchant.email"
      name="email"
      #email="ngModel"
    />
  </div>

  <div class="form-group">
    <label for="phone">Telefonszám</label>
    <input
      id="phone"
      type="text"
      class="form-control"
      [(ngModel)]="saveMerchant.phone"
      name="phone"
      #phone="ngModel"
    />
  </div>
  <button class="btn btn-primary">Mentés</button>
</form>
