img {
    margin: 2.5%;
    width: 25%;
    height: 25%;
}

.photo-upload {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.photo-upload input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
