<p class="text-center" *ngIf="!stocks">Betöltés...</p>

<table class='table table-sm table-hover' aria-labelledby="tableLabel" *ngIf="stocks">
  <thead>
    <tr>
      <th>Termék</th>
      <th>Beszállító</th>
      <th>Egységár</th>
      <th>Mennyiség</th>
      <th>Egység</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let stock of stocks">
      <td>{{ stock.product.name }}</td>
      <td>{{ stock.product.supplier.name }}</td>
      <td>{{ stock.product.price }}</td>
      <td>{{ stock.quantity }}</td>
      <td>{{ stock.product.unit }}</td>
    </tr>
  </tbody>
</table>
