<p class="text-center" *ngIf="!products">Betöltés...</p>

<div class="form-group" *ngIf="products">
  <a [routerLink]="['/termeklista/uj']" class="btn btn-primary"
    >Terméklista bővítése</a
  >
</div>

<section class="row">
  <article
    class="col-sm-12 col-md-12 col-lg-4"
    *ngFor="let product of products"
  >
    <div class="card mt-3" *ngFor="let photo of photos">
      <div>
        <img
          *ngIf="product.id === photo.productId"
          src="/uploads/products/{{ photo.fileName }}"
          class="card-img-top"
          alt="{{ product.name }}"
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <div class="card-text">
          <p>Egységár: {{ product.price }}.- Forint</p>
          <p>Mennyiségi egység: {{ product.unit }}</p>
          <p>Beszállító: {{ product.supplierName }}</p>
        </div>
        <div class="photo-upload">
          <button
            *ngIf="product.id !== photo.productId"
            class="btn btn-primary"
          >
            Fénykép feltöltése
          </button>
          <input type="file" (change)="uploadPhoto()" #fileInput />
        </div>
      </div>
    </div>
  </article>
</section>
