<p>{{ saveStock | json }}</p>

<form #f="ngForm" (ngSubmit)="submit()" novalidate>
    <div class="form-group">
        <label for="supplier">Beszállító</label>
        <select id="supplier" class="form-control form-control-sm" (change)="onSupplierChange()" [(ngModel)]="saveStock.supplierId" name="supplierId" #supplier="ngModel" required>
            <option value=""></option>
            <option *ngFor="let s of suppliers" [ngValue]="s.id">{{ s.name }}</option>
        </select>
        <div class="alert alert-danger" *ngIf="supplier.touched && !supplier.valid">Kérem adja meg a beszállítót.</div>
    </div>
    <div class="form-group">
        <label for="product">Termék</label>
        <select id="product" class="form-control form-control-sm" [(ngModel)]="saveStock.productId" name="productId" #product="ngModel" required>
            <option value=""></option>
            <option *ngFor="let p of products" [ngValue]="p.id">{{ p.name }}</option>
        </select>
        <div class="alert alert-danger" *ngIf="product.touched && !product.valid">Kérem adja meg a terméket.</div>
    </div>
    <div class="form-group">
      <label for="quantity">Mennyiség</label>
      <input id="quantity" type="number" class="form-control form-control-sm" [(ngModel)]="saveStock.quantity" name="quantity" #quantity="ngModel" required>
      <div class="alert alert-danger" *ngIf="quantity.touched && !quantity.valid">Kérem adja meg a mennyiséget.</div>
  </div>
  <button class="btn btn-sm btn-primary">Mentés</button>
</form>
